/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Cover section styles */
.cover {
    position: relative;
    text-align: center;
    color: white;
}

.cover-image {
    width: 100%;
    height: auto;
}

.cover-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.cover-text h1 {
    font-size: 3rem;
    margin: 0;
}

.cover-text p {
    font-size: 1.5rem;
    margin: 1rem 0;
}

.project-button {
    background-color: #4CAF50;
    color: white
